In [1]:
import pandas as pd

In [8]:
train_df = pd.read_csv("../../data/processed/train.csv")
test_df = pd.read_csv("../../data/processed/test.csv")

train_df.head(100)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
95,137,accident,Charlotte,9 Mile backup on I-77 South...accident blockin...,1
96,138,accident,"Baton Rouge, LA",Has an accident changed your life? We will hel...,0
97,139,accident,"Hagerstown, MD",#BREAKING: there was a deadly motorcycle car a...,1
98,141,accident,"Gloucestershire , UK",@flowri were you marinading it or was it an ac...,0
99,143,accident,NaN,only had a car for not even a week and got in ...,1

In [9]:
train_df_shuffled = train_df.sample(frac=1, random_state=42)
train_df_shuffled.head(100)

,id,keyword,location,text,target
2644,3796,destruction,NaN,So you have a new weapon that can cause un-ima...,1
2227,3185,deluge,NaN,The f$&amp;@ing things I do for #GISHWHES Just...,0
5448,7769,police,UK,DT @georgegalloway: RT @Galloway4Mayor: ÛÏThe...,1
132,191,aftershock,NaN,Aftershock back to school kick off was great. ...,0
6845,9810,trauma,"Montgomery County, MD",in response to trauma Children of Addicts deve...,0
...,...,...,...,...,...
1412,2038,casualties,50% Queanbeyan - 50% Sydney,@FlyOpineMonkey You mean Olympic ;-) \nAlso it...,1
1057,1526,body%20bags,Speaking the Truth in Love,Fairfax investigating firefighter over Faceboo...,0
318,463,armageddon,NaN,RT @RTRRTcoach: #Love #TrueLove #romance lith ...,0
2867,4121,drought,"Charlotte, NC",BLOG: Rain much needed as drought conditions w...,1
6763,9690,tornado,NaN,@Rebelmage2 I'm glad you got away XD But My 'b...,1

In [10]:
train_df.target.value_counts() # exmaple of class imbalance

0    4342
1    3271
Name: target, dtype: int64

In [11]:
# How many total samples?
len(train_df), len(test_df)

(7613, 3263)

In [12]:
# Let's visualize the data = random

import random

random_index = random.randint(0, len(train_df) - 5)

for row in train_df_shuffled[['text', 'target']][random_index:random_index + 5].itertuples():
    _, text, target = row
    print(f"Target: {target}", "(real disaster)" if target > 0 else "(not real disaster)")
    print(f"Text:\n{text}\n")
    print("---\n")

Target: 1 (real disaster)
Text:
@fewmoretweets all lives matter. Just not a fan of burning down buildings and stealing from your neighbors to 'protest'

---

Target: 0 (not real disaster)
Text:
Megadeth-Symphony of Destruction http://t.co/xzfxRgLAlp

---

Target: 0 (not real disaster)
Text:
Pop quiz! Which do you prefer: feminist revolution or fried ravioliåÊwith porcini and ricottaÛ_ http://t.co/n6MCPgVWQ2 http://t.co/s8OiNfGXyX

---

Target: 1 (real disaster)
Text:
Wild fires in California... Must be Global Warming. Can't just be extreme heat combined with dry foliage ignited by some douchebag hiker.

---

Target: 1 (real disaster)
Text:
Like a cyclone imperialism spins across the globe; militarism crushes peoples and sucks their blood like a... http://t.co/n3VbTC6NCa

---